@import "bootstrap";

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  margin-top: 80px;
  background-image: asset-url("back.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#page-content {
  flex: 1 0 auto;
}

body {
  margin-bottom: 100px;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.alert-danger {
  margin-top: 50px;
}

.card-header {
  background-color: #ffb238;
}

.card-footer {
  background-color: #ffb238;
}

.distance {
  margin-bottom: 100px;
}

.form-color {
  background-color: #fdefe6;
  color: #f18e80;
}

.weather {
  background-image: asset-url("green-mountain.jpg");
  background-size: cover;
  height: 960px;
  width: 640px;
  margin: 0 auto;

  transition: 0.4 ease-out;
}

.weather.warm {
  background-image: asset-url("red-mountain.jpg");
}

.main {
  min-height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 100px 75px;
}

.search-box .search-bar {
  display: block;
  width: 80%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 16px 16px;
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px, 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather-detail {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

// recipes
.food-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #40b48e;
  text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeabc4;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.warning {
  position: absolute;
  top: -3rem;
  left: 0;

  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.warning h3 {
  font-size: 1.8rem;
  color: red;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  color: #ffb238;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 20rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;

  padding: 1rem;
  position: relative;
  // border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
  border: 1px solid lightgrey;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  // border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1rem;
  color: #f85a6e;
}

.ingre {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #f69a23;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  width: 18em;
}

.list {
  font-size: 1rem;
  text-transform: uppercase;
  color: #85a421;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  width: 200px;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #fde3d2;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1rem;
  color: #888;
}

.ingredient-weight {
  color: #81736a;
  font-size: 1rem;
}
